@model HappyHourTracker.Models.DrinkSpecial

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DrinkSpecial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DayOfTheWeek" class="control-label"></label>
                <input asp-for="DayOfTheWeek" class="form-control" />
                <span asp-validation-for="DayOfTheWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfdrink" class="control-label"></label>
                <input asp-for="TypeOfdrink" class="form-control" />
                <span asp-validation-for="TypeOfdrink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainTypeOfAlcohol" class="control-label"></label>
                <input asp-for="MainTypeOfAlcohol" class="form-control" />
                <span asp-validation-for="MainTypeOfAlcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkPrice" class="control-label"></label>
                <input asp-for="DrinkPrice" class="form-control" />
                <span asp-validation-for="DrinkPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeHappyHourStarts" class="control-label"></label>
                <input asp-for="TimeHappyHourStarts" class="form-control" />
                <span asp-validation-for="TimeHappyHourStarts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeHappyHourEnds" class="control-label"></label>
                <input asp-for="TimeHappyHourEnds" class="form-control" />
                <span asp-validation-for="TimeHappyHourEnds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" />
                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
